<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<header>
  <img src="../../../../assets/icons/unnamed.jpg" width="70">
  <div class="user">
    <span class="header__name">{{userName['user_second_name']}} {{userName['user_first_name']}}
      {{userName['user_middle_name']}}</span>
    <div ngbDropdown class="d-inline-block">
      <img src="../../../../assets/icons/user.png" width="55" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="logoutUser()">
          Выйти
        </button>
      </div>
    </div>
  </div>
</header>

<!--<div [ngStyle]="{background: '#a9d9bc' }"></div>-->
<div class="wrapper" >
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <!--Пользователи-->
    <li [ngbNavItem]="1">
      <a ngbNavLink>Пользователи</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
              <th scope="col">Роли</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList" class="users__user user">
              <td> {{user.user_second_name}}</td>
              <td> {{user.user_first_name}}</td>
              <td> {{user.user_middle_name}}</td>
              <td>
                <div class="user__role role">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Роли</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let role of roles"
                        [ngClass]="{'role__current': role.id === user.role_id}" value={{role.id}}
                        (click)="updateRole(user.user_id,role.name)">
                        <div *ngIf="role.id === user.role_name ; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{role.name}}</ng-template>
                        <ng-template #elseBlock>{{role.name}}</ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="user__actions">
                  <button *ngIf="!user.user_confirm" (click)="confirm(user.user_id)"
                    class="user__confirm btn">Подтвердить</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <!--Студенты-->
    <li [ngbNavItem]="2">
      <a ngbNavLink>Студенты</a>
      <ng-template ngbNavContent>
        <div>
<!--          <label for="institute">Выберите группу</label>-->
<!--          <ng-select   (change)="filterStudentsByGroupId(groupId)"-->
<!--                      [(ngModel)]="groupId"-->
<!--                      [items] = "groupsList"-->
<!--                      bindLabel="group_name"-->
<!--                      bindValue="group_id"-->
<!--                      name="group"-->
<!--                      placeholder="Группа">-->
<!--          </ng-select>-->


<!--          <form class="form-inline">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">-->
<!--            &lt;!&ndash;          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--            <button type="button" class="add_button btn btn-primary">-->
<!--              <i class="icon-glass"></i>-->
<!--            </button>-->
<!--          </form>-->
          <br>
        </div>

<!--        <div class="input-group">-->
<!--          <div class="form-outline">-->
<!--            <input type="search" id="form1" class="form-control" />-->
<!--            <label class="form-label" for="form1">Поиск</label>-->
<!--          </div>-->
<!--          <button type="button" class="add_button btn btn-primary">-->
<!--            <i class="icon-glass"></i>-->
<!--          </button>-->
<!--        </div>-->
        <div>

        </div>


        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Специальность</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsList" class="users__user user">
              <td> {{student.group_name}}</td>
              <td> {{student.specialty_name}}</td>
              <td> {{student.user_second_name}}</td>
              <td> {{student.user_first_name}}</td>
              <td> {{student.user_middle_name}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <!--Специальности-->
    <li [ngbNavItem]="3">
      <a ngbNavLink>Специальности</a>
      <ng-template ngbNavContent>
        <div class="addButton">
          <button class="add_button btn btn-primary btn-sm ms-3" (click)="handleAddAction()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <table mat-table [dataSource]="specialties" class="mat-elevation-z8">
          <ng-container matColumnDef="specialtyFullName">
            <th mat-header-cell *matHeaderCellDef>Специальность</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name_full}}</td>
          </ng-container>

          <ng-container matColumnDef="specialtyName">
            <th mat-header-cell *matHeaderCellDef>Аббревиатура</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Код</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_number}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditAction(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="handleDeleteAction(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specialtyColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: specialtyColumns"></tr>
        </table>

      </ng-template>
    </li>
    <!--Группы-->
    <li [ngbNavItem]="4">
      <a ngbNavLink>Группы</a>
      <ng-template ngbNavContent>
        <div class="addButton">
          <button class="add_button btn btn-primary btn-sm ms-3" (click)="handleAddGroup()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <table mat-table [dataSource]="groups" class="mat-elevation-z8">
          <ng-container matColumnDef="specialtyName">
            <th mat-header-cell *matHeaderCellDef>Специальность</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
          </ng-container>

          <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef>Группа</th>
            <td mat-cell *matCellDef="let element">{{element.group_name}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditGroup(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="handleDeleteGroup(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="groupColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: groupColumns"></tr>
        </table>
      </ng-template>
    </li>
    <!--Дипломные руководители-->
    <li [ngbNavItem]="5">
      <a ngbNavLink>Дипломные руководители</a>
      <ng-template ngbNavContent>

        <table mat-table [dataSource]="lectors" class="mat-elevation-z8">
          <ng-container matColumnDef="lectorName">
            <th mat-header-cell *matHeaderCellDef>Руководитель</th>
            <td mat-cell *matCellDef="let element">{{element.initials_lector}}</td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Должность</th>
            <td mat-cell *matCellDef="let element">{{element.position}}</td>
          </ng-container>

          <ng-container matColumnDef="allPlace">
            <th mat-header-cell *matHeaderCellDef>Кол-во мест</th>
            <td mat-cell *matCellDef="let element">{{element.vacancy}}</td>
          </ng-container>

          <ng-container matColumnDef="busyPlace">
            <th mat-header-cell *matHeaderCellDef>Занятые места</th>
            <td mat-cell *matCellDef="let element">{{element.busy_place}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditLector(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Студенты" (click)="handleListStudentsAndTopicsAction(element)">
                <mat-icon>list</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="lectorsColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: lectorsColumns"></tr>
        </table>

      </ng-template>
    </li>
    <!--ГЭК-->
    <li [ngbNavItem]="6">
      <a ngbNavLink>ГЭК</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of sec; let i = index">
            <td>{{item.sec_number}}</td>
            <td>{{item.sec_start_date}}</td>
            <td>{{item.sec_end_date}}</td>
            <td>
              <div class="user__role role">
                <button class="button" (click)="openEditSec(item.sec_id); getSecCathedra(); getSecSpecialty();
                                  getSecGroup(); getSecPercent();getSecEvent();getSecUsers();">Редактировать</button>
                <button class="user__delete button" (click)="deleteSec(item.sec_id)">Удалить</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Добавить ГЭК</button>
      </ng-template>
    </li>
    <!--Темы-->
    <li [ngbNavItem]="7">
      <a ngbNavLink>Темы</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
          <tr>
            <th scope="col" style="width:50%">Тема</th>
            <th scope="col">Руководитель</th>
            <th scope="col">Студент</th>
            <th scope="col">Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let work of allDiplomWorksList" class="users__user user">
            <td> {{work.name}}</td>
            <td> {{work.id_leader}}</td>
            <td> {{work.id_student}}</td>
            <td>
              '<div>
                <button class="me-2 btn btn-lg text-dark edit-button">
                  <i class="icon-pencil"></i>
                </button>
                <button class="btn btn-lg text-dark delete-button">
                  <i class="icon-trash"></i>
                </button>
              </div>'
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </li>


  </ul>
  <div [ngbNavOutlet]="nav"></div>





  <ng-template #addGroupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Добавление группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label for="institute">Выберите специальность</label>
      <ng-select
                    [(ngModel)]="specialtyId"
                    [items] = "specialtiesList"
                    bindLabel="specialty_name"
                    bindValue="specialty_id"
                    name="specialty"
                    placeholder="Специальность">
      </ng-select>

      <label>Номер группы</label>
      <input type="text" autocomplete="off" #groupName placeholder="Номер группы" name="groupName">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addGroup(groupName.value, specialtyId)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #addGroupModal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label>Специальность</label>
      <input type="text" autocomplete="off" #specialty placeholder="" name="specialty" value="ИСиТ(в проектировании и производстве)">


      <label>Номер группы</label>
      <input type="text" autocomplete="off" #groupName placeholder="Номер группы" name="groupName" value="10702417">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close();">Редактировать</button>
    </div>
  </ng-template>

  <ng-template #addSpecialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Добавление специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close(); addSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #addSpecialtyModal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName" value="Информационные системы и технологии в проектировании и производстве">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name" value="ИСиТ(в проектировании и производстве)">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close();">Редактировать</button>
    </div>
  </ng-template>

  <ng-template #editSpecialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName" value= >

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close();
                  editSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName name="fullName" value="{{specialty.specialty_name_full}}">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close(); addSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

</div>



